<h2 class="text-center "  style="margin-top: 20px; font-size: 35px;" >Equipos en Almacen</h2>
<div class="row">
  <div class="col">
    <div class="form-group">
      <mat-form-field class="full-widthh" appearance="outline">
        <mat-label>Ingrese Busqueda</mat-label>
        <input required [(ngModel)]="filterPost" name="filterPost" matInput placeholder="Buscar....">
      </mat-form-field>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="table-danger text-center ">
    <tr>
        <th>Id Producto</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Descripcion</th>
        <th>Existencia</th>
     
        <th>Registrado</th>
        <th>Actualizado</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center ">
    <tr *ngFor="let e of Almacen | filterClientes:filterPost |  paginate: { itemsPerPage: 6, currentPage: pagina }">
      <td>{{e.id_almacen}}</td>
      <td>{{e.marca}} </td>
      <td>{{e.moedelo}}</td>
      <td>{{e.descripcin}}</td>
      <td>{{e.stoc}}</td>
      <td>{{e.register_date.substr(0,10)}}</td>
      <td>{{e.last_update_date.substr(0,10)}}</td>
     
 
      <td class="text-center">
        <button (click)="EditarAlmacen(e.id_almacen)" class="btn btn-info">Editar</button>

      </td>
    </tr>
  </tbody>
</table>
<div>
  <div class="text-center">
    <pagination-controls (pageChange)="pagina = $event" previousLabel="anterior" nextLabel="siguiente"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">></pagination-controls>
  </div>
  <div class="container text-center mt20">
    <button mat-raised-button color="primary" style="margin-left: 70px; " (click)="exportarExcel()">Descargar
      EXCEL</button>
    <button 
    (click)="crearAlmacen()" mat-raised-button color="accent" style="margin-left: 70px; ">Agregar
      Producto</button>
  </div>
</div>