<div class="bootstrap-wrapper">
    <div class="container-lg" style="width: 100%;">
        <div class="row" style="margin-top : 30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center" style="margin-top : 30px;">
                        <img src="../../../assets/estadosMex.png" width="100" height="100">
                    </div>

                    <h1 class="text-center">Crear Estado de la Republica</h1>

                    <form (ngSubmit)="formSubmit()">

                        <mat-form-field class="full-width container text-center" appearance="outline">
                            <mat-label>Nombre del Entiad Federativa</mat-label>
                            <input required [(ngModel)]="EstadosRepublicas.nombre_esatdo" name="nombre_esatdo"  matInput
                                placeholder="Nombre del Entiad Federativa">
                        </mat-form-field>

                        <mat-form-field class="full-width container text-center" appearance="outline">
                            <mat-label>Descripcion</mat-label>
                            <input required [(ngModel)]="EstadosRepublicas.descripcion" name="nombre_user" matInput
                                placeholder="Descripcion de La entidad Federativa">
                        </mat-form-field>

                        <div class="full-widthh2 container">

                           
                            <div class="input-group mb-3 " appearance="outline">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect02"> Region - Zona </label>
                                </div>
                                <select required [(ngModel)]="EstadosRepublicas.zona.id_zon" name="inputGroupSelect02" id="inputGroupSelect02">
                                    
                                    <option *ngFor="let zoEstado of ZonaEstado" [value]="zoEstado.id_zon">{{zoEstado.nombree }}</option>
              
                                </select>
                            </div>
            
            
                       
                        </div>

                        <div class="container text-center">
                            <button mat-raised-button color="primary" style=" margin-bottom: 20px;">Registrar</button>

                            <button type="reset" style="margin-left: 60px; margin-bottom: 20px;" mat-raised-button
                                color="accent">Limpiar</button>

                              
                        </div>
                    </form>
                </mat-card>
                <br><br><br>
            </div>
        </div>
    </div>
</div>