<mat-card style="margin-left: 10px;">
    <h1 class="text-center">Detalles de Ticket</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/User3.png" alt="" class="profile-image">

                    <h1 class="mt20"></h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>No. Ticket</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Detalles de Error</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Entidad Federetatica</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Extencion</td>
                                <td></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Region Asignada</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Fecha de Alta</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <button mat-raised-button color="primary">Actualizar</button>

        </div>
    </mat-card-content>
</mat-card>

<div class = "col-md-9">
    <router-outlet></router-outlet>
  </div>