<mat-card style="margin-left: 10px;">
    <h1 class="text-center">Detalles de Ticket</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/User3.png" alt="" class="profile-image">

                    <h1 class="mt20"></h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>No. Ticket</td>
                                <td>{{ticket.id_ticket}}</td>
                            </tr>
                            <tr>
                                <td>Detalles de Error</td>
                                <td>{{ticket.des_error}}</td>
                            </tr>
                            <tr>
                                <td>serie de Equipo</td>
                                <td>{{ticket.no_serie}}</td>
                            </tr>
                            <tr>
                                <td>Entidad Federerativa</td>
                                <td>{{ticket.estadosrepu.nombre_esatdo}}</td>
                            </tr>
                            <tr>
                                <td>Servicio</td>
                                <td>{{ticket.servicios.nom_service}}</td>
                            </tr>
                            <tr>
                                <td>Nombre de Usuario que Reporta</td>
                                <td>{{ticket.cliente.nombre_cli}} {{ticket.cliente.apellidoP_cli}} {{ticket.cliente.apellidoM_cli}} </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Telefono de Cliente</td>
                                <td>{{ticket.cliente.tel_cli}} </td>
                            </tr>
                            <tr>
                                <td>Extension de Cliente</td>
                                <td>{{ticket.cliente.ext_cli}} </td>
                            </tr>
                            <tr>
                                <td>Estatus Ticket</td>
                                <td>{{ticket.status_Ticket.nom_status}}</td>
                            </tr>
                            <tr>
                                <td>Estatus de SLA</td>
                                <td>{{ticket.sla_status}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <button mat-raised-button color="primary">Actualizar</button>

        </div>
    </mat-card-content>
</mat-card>

<div class = "col-md-9">
    <router-outlet></router-outlet>
  </div>