<mat-card >
    <mat-action-list >
      <div mat-subheader>Menu</div>
      <button routerLink = "/tecnico_especialista/estadisticas" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/tecnico_especialista/datos_perfil">
        <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
      </button>
    
      <button mat-list-item routerLink = "/tecnico_especialista/Tickets_asigandos">
        <mat-icon mat-list-icon>assignment</mat-icon> Mis Ticket Asignados 
      </button>
      <button mat-list-item routerLink = "/tecnico_especialista/TicketsCerrados">
        <mat-icon mat-list-icon>assignment</mat-icon> Mis Ticket Cerrados 
      </button>
     
   
      <button mat-list-item routerLink = "/tecnico_especialista/actualizar-contrasena/">
        <mat-icon mat-list-icon>cached</mat-icon> Cambiar Contraseña
      </button>
      <button mat-list-item (click) = "logout()">
        <mat-icon mat-list-icon>logout</mat-icon> Salir
      </button>
    </mat-action-list>
  </mat-card>