<h1 class="text-center " style="margin-top: 20px;">Cuentas o Depencias Cliente</h1>
<div class="row">
  <div class="col">
    <div class="form-group">
      <mat-form-field class="full-widthh" appearance="outline">
        <mat-label>Ingrese Busqueda</mat-label>
        <input required [(ngModel)]="filterPost" name="filterPost" matInput placeholder="Buscar....">
      </mat-form-field>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark text-center ">
    <tr>
        <th>Id cuenta</th>
        <th>Nombre Cuenta</th>
        <th>Descripcion</th>
        <th>Alcance Territorial</th>
        <th>Representante de Cuente</th>
        <th>Registrado</th>
        <th>Actilizado</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center ">
    <tr *ngFor="let e of cuenta | filterCuenta:filterPost |  paginate: { itemsPerPage: 6, currentPage: pagina }">
      <td>{{e.id_cuen}}</td>
      <td>{{e.nombre_cuen}}</td>
      <td>{{e.desc_cuenta}}</td>
      <td>{{e.alcan_cuen}}</td>
      <td>{{e.repre_cuen}}</td>
      <td>{{e.register_date.substr(0,10)}}</td>
      <td>{{e.last_update_date.substr(0,10)}}</td>
    
      <td class="text-center">
        <button (click)="EditarCuenta(e.id_cuen)" class="btn btn-info">Editar</button>

      </td>
    </tr>
  </tbody>
</table>
<div>
  <div class="text-center">
    <pagination-controls (pageChange)="pagina = $event" previousLabel="anterior" nextLabel="siguiente"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">></pagination-controls>
  </div>
  <div class="container text-center mt20">
    <button mat-raised-button color="primary" style="margin-left: 70px; " (click)="exportarExcel()">Descargar
      EXCEL</button>
    <button routerLink="/admin/cuentas_dependencia/crear_cuenta" mat-raised-button color="accent" style="margin-left: 70px; ">
        Agregar
     Cuenta</button>
  </div>
</div>