<mat-card style="margin-left: 10px;">
    <h1 class="text-center" style="margin-top: 20px;">Información de Usuario</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/User3.png" alt="" class="profile-image">

                    <h1 class="mt20">{{ user.nombre_user }} {{ user.apellidop_user }} {{ user.apellidom_user }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>ID Empleado</td>
                                <td>{{ user.id_user }}</td>
                            </tr>
                            <tr>
                                <td>Correo</td>
                                <td>{{ user.correo }}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{ user.tel_user }}</td>
                            </tr>
                            <tr>
                                <td>Extensión</td>
                                <td>{{ user.ext_user }}</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Región Asignada</td>
                                <td>{{ user.zonaestados.nombree }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Alta</td>
                                <td>{{ user.register_date.substr(0,10) }}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{ user.perfil.nom_per}}</td>
                            </tr>
                            <tr>
                                <td>Estatus</td>
                                <td>{{ user.staus_user }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <button (click)= "EditarDelEmpleado(user.username)" mat-raised-button color="primary">Actualizar</button>

        </div>
    </mat-card-content>
</mat-card>

<div class = "col-md-9">
    <router-outlet></router-outlet>
  </div>