<mat-card style="margin-left: 10px; margin-top : 20px;">
    <h1 class="text-center">Editando Cuentas - Dependencias</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/gobierno.png" alt="" class="profile-image">

                    <h1 class="mt20"> Estas editando la Cuenta : {{ Cuenta.nombre_cuen }} </h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table container text-center ">
                            <tr>
                                <td>Nombre de Cuenta</td>
                                <td>{{  Cuenta.nombre_cuen }}</td>
                            </tr>
                            <tr>
                                <td>ID Cuenta</td>
                                <td>{{ Cuenta.id_cuen }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

   
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm" class="container text-center">
        <div class="form-group">


            <mat-form-field class="full-widthh" appearance="outline">
                <mat-label>Nombre del Cuenta</mat-label>
                <input required [(ngModel)]="Cuenta.nombre_cuen" name="nombre_user" matInput
                    placeholder="Digite el nombre de la Cuenta">
            </mat-form-field>

            <mat-form-field class="full-widthh" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input required [(ngModel)]="Cuenta.desc_cuenta" name="desc_cuenta" matInput
                    placeholder="Digite la descripcion de la Cuenta ">
            </mat-form-field>

            <mat-form-field class="full-widthh" appearance="outline">
                <mat-label>Alcance Territorial</mat-label>
                <input required [(ngModel)]="Cuenta.alcan_cuen" name="alcan_cuen" matInput
                    placeholder="Digite el Alcance Territorial">
            </mat-form-field>

            <mat-form-field class="full-widthh" appearance="outline">
                <mat-label>Representante de Cuenta</mat-label>
                <input required [(ngModel)]="Cuenta.repre_cuen" name="repre_cuen" matInput
                    placeholder="Digite el Representante de Cuenta">
            </mat-form-field>


        
        </div>
        <div class="container text-center">
            <button mat-raised-button color="warn">Actualizar</button>
            <button type="reset" style="margin-left: 60px;" mat-raised-button
            color="accent">Limpiar</button>
            <button routerLink = "/admin" style="margin-left: 60px;" mat-raised-button
            color="primary">Salir</button>
        </div>
    </form>
</mat-card-content>
</mat-card >