<mat-card style="margin-left: 10px;">
    <h1 class="text-center">Asignando Ticket</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/asignar.png" alt="" class="profile-image">

                    <h1 class="mt20"></h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table2 text-center">
                            <tr>
                                <td>No. Ticket</td>
                                <td>{{ticket.id_ticket}}</td>
                            </tr>
                            <tr>
                                <td>Detalles de Error</td>
                                <td>{{ticket.des_error}}</td>
                            </tr>
                            <tr>
                                <td>serie de Equipo</td>
                                <td>{{ticket.no_serie}}</td>
                            </tr>
                            
                            <tr>
                                <td>Servicio</td>
                                <td>{{ticket.servicios.nom_service}}</td>
                            </tr>
                           
                            
                            <tr>
                                <td>Estatus Ticket</td>
                                <td>{{ticket.status_Ticket.nom_status}}</td>
                            </tr>
                            <tr>
                                <td>Estatus de SLA</td>
                                <td>{{ticket.sla_status}}</td>
                            </tr>
                           
                        </table>
                    </div>
                </div>

                <table class="table table-striped" style="margin-top: 40px">
                    <thead class="table-dark text-center ">
                      <tr>
                        <th>ID Tikcet</th>
                        <th>Asigna</th>
                        <th>Asignado a</th>
                        <th>Comentario </th>
                        <th>Fecha de Doc.</th>
                        <th> Tiempo Restante SLA</th>
              
                      
                        
                      </tr>
                    </thead>
                    <tbody class="text-center ">
                      <tr *ngFor="let e of histrial_asignacion_tiket |  paginate: { itemsPerPage: 6, currentPage: pagina }">
                        <td   > {{ticket.id_ticket}}</td>
                        <td  >{{e.nameuser_inicio}}</td>
                        <td  >{{e.nameuser_final}}</td>
                        <td  >{{e.comentarios}}</td>
                        <td  >{{e.last_update_date}}</td>
                        <td >{{e.status_sla}} hrs</td>
              
                       
                    
                      </tr>
                    </tbody>
                  </table>

                  <div class="text-center" >
                    <pagination-controls (pageChange)="pagina = $event"  previousLabel="anterior" nextLabel="siguiente" 
                      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">></pagination-controls>
                    </div>
            </div>
        </div>
       
        <form  (ngSubmit)="formSubmit()" class ="text-center" >
            <mat-form-field class="full-width container text-center">
                <mat-label>Documenta el Ticket</mat-label>
                <input  equired [(ngModel)]="dataAsignacionTikcet.comentarios" name="username" type="email" matInput
                    placeholder="Describa Brevemente el Error">
            </mat-form-field>
            <div class="input-group mb-3 text-center" style="margin-left: 40%;" appearance="outline">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01"> Asignar a </label>
                </div>
                <select required [(ngModel)]="dataAsignacionTikcet.nameuser_final" name="inputGroupSelect01" id="inputGroupSelect01">
                 
                    <option *ngFor="let ser of user_f" [value]="ser.username">{{ser.username }} </option>

                </select>
            </div>

            <div class="container text-center" >
                <!-- <button mat-raised-button color="warn" type="submit" (click)="DocumentarTick()" >Documentar </button> -->
                <button mat-raised-button color="warn"  >Asignar </button>

                <!-- <button mat-stroked-button color="accent" style="margin-left: 60px;" (click)="CerrarTicket()"  >Cerrar Ticket </button> -->
        
                <button (click)="editarTicket(ticket.id_ticket)" mat-raised-button color="primary" style="margin-left: 60px;">Editar</button>
    
                <button routerLink = "/admin/ticket_admin" style="margin-left: 60px;" mat-raised-button
                color="accent">Salir</button>
            </div>
        </form>
        



    </mat-card-content>
</mat-card>

<div class = "col-md-9">
    <router-outlet></router-outlet>
  </div>